body{
    font-size: medium;
}

.borde{
    border-color: blueviolet;
    border-style: solid;
    border-width: 3px;
}
.cardgraf{
    width: 50em;
    height: 500px;
    text-align: center;
    margin: auto;
}

.grafico2{
    width: 35em;
    height: 500px;
    text-align: center;
    margin: auto;
}

.tammodal{
    width: 35em;
}
#elBoton {
    padding: 5px 15px 5px 15px;
}

tbody td {
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
}

tbody th {
    color: #f2ff00;
    background-color: #0015ff;
}

tbody tr {
    text-align: center;
    min-width: 100px;
    vertical-align: middle;
}

tbody td:first-child {
    color: #fff;
}

#tablaPais {
    padding-top: 25em;
    width: 100%;
}

.modal-content {
    height: 40vh;
}